<div style="background-color: #fff; padding:10px; direction:rtl; text-align:right; position:relative;float:right; width: calc(100% - 30px); margin:2px;margin-bottom:10px; box-shadow: 2px 2px 6px rgba(34,34,34,0.6);">

  <!--<div>
    {{$ctrl.data.message}}
  </div> -->
  <div style=" text-align:right; direction:rtl;position:relative;float:right;" ng-bind-html="$parent.renderHtml($ctrl.data.message)"></div >
<button ng-show="!$ctrl.message_visible" ng-click="$ctrl.accept()"> قبوله </button>
<button ng-show="!$ctrl.message_visible" ng-click="$ctrl.reject()"> نه </button>

					     
</div>
<div ng-show="$ctrl.message_visible" style="position:relative;float:right; width: calc(100% - 20px);">
 {{$ctrl.message}}
</div>
