<html>
  <head>
    <meta charset="utf-8">
<title> Mafia</title>
<link href="./layout.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-app="mainApp" ng-cloak>
    <div class="header">
     <h1>به مافیا خوش آمدید</h1>
    </div>
    <div class="right_col">
      <div class="status">
    
	<user-status></user-status>
      </div>
      <div class="player_list" ng-controller="basic">

        <online-users></online-users>
      </div>
    </div>
    <div class="center_col" ng-controller="basic">
       <div id="login" >             
   
   <span ng-bind-html=" $sce.trustAsHtml(working)"></span>
      
      	<form ng-if="!Auth.authorized" name="loginForm" style="background-color: #fff; position:relative;float:right; padding:20px; magin:20px; width:calc(100% - 140px);margin-top:30px;	 margin-right: 50px;" 
      ng-submit="login(credentials)" novalidate>

  <label for="username">Username:</label>
  <input type="text" id="username"
         ng-model="credentials.username">

  <label for="password">Password:</label>
  <input type="password" id="password"
         ng-model="credentials.password">

  <button type="submit">Login</button>

	</form>
       </div>
<div ng-show="Auth.authorized" class="center_box" > 
<div ng-click="show='tasks'" class="menu_item" ng-mouseenter="mousetoggle('tasks')" ng-mouseleave="mousetoggle('tasks')" style="background-color: {{background('tasks')}}"> درخواستها </div>
<div ng-click="show='actions'" class="menu_item" ng-mouseenter="mousetoggle('actions')" ng-mouseleave="mousetoggle('actions')" style="background-color: {{background('actions')}}"> کنشها </div>
<div ng-click="show='events'" class="menu_item"ng-mouseenter="mousetoggle('events')" ng-mouseleave="mousetoggle('events')" style="background-color: {{background('events')}}"> رویدادها </div>

</div>

<div ng-show="show=='events'">
       
       <current-affairs></current-affairs>
</div>
<div ng-show="show=='actions'">
<say-something></say-something>
       <bet-something></bet-something>
</div>
<div ng-show="show=='tasks'">
<tasks></tasks>
</div>
       <!--<say-something>say</say-something>
       <bet-something>bet</bet-something>
<tasks>tasks</tasks> -->



    </div>
    <div class="left_col">
      <locations></locations>
     <!-- <div class="list_menu"> منوی فهرست ها</div>
      <div class="left_list">فهرست ها</div> -->
    </div>
   
    <script
src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
     <script src="./js/bundle.js"></script>
  </body>
  
</html>
