@charset "utf-8";
/* CSS Document */
html, body
{
    height: 100%;
	background-color:#fff;
//  background-image:url('bg.png');
}
*
{
    padding: 0;
    margin: 0;
}
.header{
    width:calc(100% - 40px); min-height:60px;position:relative; background-color: #eee;
    text-align:right;padding:20px;
}
.right_col {width:200px;height:calc(100% - 150px);position:relative; float: right; background-color:#fff;text-align:right;}
.center_col {width:calc(50% - 100px);height:calc(100% - 150px);position:relative; float: right; background-color:#fff;text-align:right;}
.left_col {width:calc(50% - 100px);height:calc(100% - 150px);position:relative; float: right; background-color:#fff;text-align:right;}
.status {width:100%; height:300px; position:relative;float:right; background-color:#fff;text-align:right;}
.player_list{width:100%; height:calc(100% - 300px); position:relative;float:right;background-color:#fff;text-align:right;}
.list_menu{width:100%;height:30pt; position:relative; float:right; background-color:#ccc; text-align:right;color:#000;}
.left_list{width:100%;height:calc(100% - 30pt); position:relative; float:right; background-color:#fff; text-align:right;}
.menu_item {position:relative;float:right;background-color: #cfc;min-width:100px;margin-left:3px;padding:5px}
.menu_item:hover {background-color: #fcf;}
.center_box{background-color: #fff; position:relative;float:right; padding:20px; margin:5px; width:calc(100% - 140px);	 margin-right: 50px;}
.message_box{background-color:white;padding:5px;margin:2px;}
.user_span{color:red; font-weight:bold; margin-left:10px; margin-right:10px;}
.fade.ng-enter {
  transition:1s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
.fade.ng-leave {
  transition:1s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}
.fade.ng-hide {
  transition:1s linear all;
  opacity:0;
}
.fade.ng-move {
  transition:1s linear all;
}
.fade.ng-animate { background-color: red;}