<div style="background-color: #fcc; padding:5px; direction:rtl; text-align:right;">
<!--
would you bet {{$ctrl.data.thing}} dollars with {{$ctrl.data.a}} on a coin flip?
{{$ctrl.Auth.tocken}}
<br> -->
<span style="margin-left:30px; text-align:right; direction:rtl; font-weight:bold;"> شرط می بندی؟ </span>
<br>
<span style="margin-left:15px; text-align:right; direction:rtl;">  با </span >
<span style="margin-left:30px; text-align:right; direction:rtl;color:red;font-weight:bold;">{{$ctrl.data.a}}</span>
<span style="margin-left:30px; text-align:right; direction:rtl; "> 
<span style="margin-left:15px; text-align:right; direction:rtl;">  سر </span >
<span style="margin-left:10px; text-align:right; direction:rtl;color:red;font-weight:bold;">{{$ctrl.data.thing}}</span>
<span style="margin-left:10px; text-align:right; direction:rtl;">تومن</span>

<button ng-click="$ctrl.accept()"> قبوله </button>
<button ng-click="$ctrl.reject()">... نه </button>
<br>
{{$ctrl.message}}
					     
</div>
